body {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  flex-direction: column;
  display: flex;
  .container {
    width: $widhmax;
    max-width: $maxwidhmax;
    height: $heidth;
    align-self: center;
    position: relative;
    overflow: hidden; 
    justify-content: center;
  }
.card {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}
}
.boxone {
  @include boxonemini;
  @include boxonenormal;
  @include boxonemax;
}

.boxtwo {
  @include boxtwomini;
  @include boxtwonormal;
  @include boxtwomax;
}
.boxthree {
  @include boxthreemini;
  @include boxthreenormal;
  @include boxthreemax;
}
