$widhtbox: rgb(187, 187, 36);
$widhmax: 100%;
$gap: 30px;
$dispflex: flex; 
$heidth: 1800px;
$maxwidhmax: 1240px;
$cardcolorone: #BCD1FF;
$cardcolortwo: linear-gradient(0deg, #BCD1FF, #BCD1FF),
linear-gradient(0deg, #D2EBF7, #D2EBF7);
$colorblue: blue;
$gradient:linear-gradient(135deg, #F395BA 0%, #FED182 100%);
